
    <div class="card-body">
        <div class="mb-3">
            <h5 class="mb-0">Add Shipment</h5>
        </div>
        <form action="#">
            <div class="form-body">
                @*<label>Row Label </label>*@
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Client" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Batch #" />
                        </div>
                    </div>
                    <div class="mb-3">
                      <label>File Upload</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <div class="custom-file">
                          <input
                            type="file"
                            class="form-control"
                            id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01"
                          />
                        </div>
                      </div>
                    </div>
            </div>
            <div class="form-actions">
                <div class="text-left">
                    <button type="submit"
                            class="btn btn-light-primary text-primary font-medium">
                        Submit
                    </button>
                    <button type="reset"
                            class="btn btn-light-danger text-danger font-medium">
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
